# script for Kamet programming, through Lhotse

source [find target/swj-dp.tcl]
# source [find mem_helper.tcl]

# set CHIPNAME stm32g0x
source [find target/stm32g0x.cfg]


$_TARGETNAME configure -event examine-end {
	# Enable debug during low power modes (uses more power)
	# DBGMCU_CR |= DBG_STANDBY | DBG_STOP | DBG_SLEEP
	mmw 0xE0042004 0x00000007 0

	# Stop watchdog counters during halt
	# DBGMCU_APB1_FZ |= DBG_IWDG_STOP | DBG_WWDG_STOP
	mmw 0xE0042008 0x00001800 0
}

$_TARGETNAME configure -event trace-config {
	# Set TRACE_IOEN; TRACE_MODE is set to async; when using sync
	# change this value accordingly to configure trace pins
	# assignment
	mmw 0xE0042004 0x00000020 0
}

$_TARGETNAME configure -event reset-init {
	# Configure PLL to boost clock to HSI x 4 (64 MHz)
	mww 0x40023804 0x08012008	;# RCC_PLLCFGR 16 Mhz /8 (M) * 128 (N) /4(P)
	mww 0x40023C00 0x00000102	;# FLASH_ACR = PRFTBE | 2(Latency)
	mmw 0x40023800 0x01000000 0 ;# RCC_CR |= PLLON
	sleep 10					;# Wait for PLL to lock
	mmw 0x40023808 0x00001000 0 ;# RCC_CFGR |= RCC_CFGR_PPRE1_DIV2
	mmw 0x40023808 0x00000002 0 ;# RCC_CFGR |= RCC_CFGR_SW_PLL

	# Boost JTAG frequency
	adapter_khz 8000
}

$_TARGETNAME configure -event reset-start {
	# Reduce speed since CPU speed will slow down to 16MHz with the reset
	adapter_khz 2000
}

gdb_port disabled
telnet_port disabled
tcl_port disabled

######################################################################
# defines
set OTP_SLOT_SIZE		80
set OTP_SLOT_MAX		5
set OTP_BASE_ADDRESS	0x1FFF7000
set OTP_SLOT_OFFSET		0x40	
######################################################################

proc comp_file {file1 file2} {
    set equal 0
    if {[file size $file1] == [file size $file2]} {
        set fh1 [open $file1 r]
        set fh2 [open $file2 r]
        set equal [string equal [read $fh1] [read $fh2]]
        close $fh1
        close $fh2
    }
    return $equal
}

proc string2hex s {
    binary scan $s H* hex
    regsub -all (..) $hex {\\x\1}
}


proc program_otp {filename args} {

	global OTP_SLOT_MAX
	global OTP_SLOT_SIZE
	global OTP_BASE_ADDRESS
	global OTP_SLOT_OFFSET
	
	set verify 0
	foreach arg $args {
		if {[string equal $arg "verify"]} {
			set verify 1
		}
	}

	init
	halt
	flash banks

	set slot -1
	# Check slot to use
	for {set i 0} {$i < $OTP_SLOT_MAX} {incr i} {
		set SLOT_MAGIC [expr $OTP_BASE_ADDRESS + $OTP_SLOT_OFFSET + ($i * $OTP_SLOT_SIZE)]
		set FMT_VER [expr $SLOT_MAGIC + 4]

		set SLOT_MAGIC_HEX [format %08x $SLOT_MAGIC]
		echo "Checking slot $i at $SLOT_MAGIC_HEX"

		set magic [mrw $SLOT_MAGIC]
		set fmtver [mrw $FMT_VER]

		set magic_hex [format %08x $magic]
		set fmtver_hex [format %08x $fmtver]
		echo "magic = $magic_hex"
		echo "fmtver = $fmtver_hex"

		if {$magic == 0xffffffff && $fmtver == 0xffffffff} {
			set slot $i
			break
		}
	}

	if {$slot < 0} {
		echo "kamet otp:  ERROR - no empty slot to use"
		return 0
	}

	set slot_offset [expr $OTP_SLOT_OFFSET + ($slot * $OTP_SLOT_SIZE)]

	# Verify the blob file
	if {[file size $filename] != $OTP_SLOT_SIZE} {
		echo "kamet otp:  ERROR - OTP input size incorrect"
		return 0
	}

	echo "** Programming Started **"

	stm32l4x otp 1 enable

	if {[catch {eval flash write_bank 1 $filename $slot_offset}] == 0} {
		echo "** Programming Finished **"
		if {$verify == 1} {
			# verify phase
			echo "** Verify Started **"
			
			set tmp_file [file tempfile]
			flash read_bank 1 $tmp_file $slot_offset $OTP_SLOT_SIZE
			set result [comp_file $tmp_file $filename]
			file delete $tmp_file

			if {$result == 1} {
				echo "** Verified OK **"
			} else {
				echo "** Verify Failed **"
			}
		}
	} else {
		echo "** Programming Failed **"
	}

}