# script for stwtd1a0

#
# stxxx devices support both JTAG and SWD transports.
#
source [find target/swj-dp.tcl]
source [find mem_helper.tcl]

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME stwtd1a0
}

set _ENDIAN little

#jtag scan chain
if { [info exists CPUTAPID] } {
	set _CPUTAPID $CPUTAPID
} else {
	set _CPUTAPID 0x2ba01477
}

swj_newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

if {[using_jtag]} {
	jtag newtap $_CHIPNAME bs -irlen 5
}

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -endian $_ENDIAN -dap $_CHIPNAME.dap

adapter_khz 2000

adapter_nsrst_delay 100
if {[using_jtag]} {
 jtag_ntrst_delay 100
}

reset_config srst_nogate

if {![using_hla]} {
	# if srst is not fitted use SYSRESETREQ to
	# perform a soft reset
	cortex_m reset_config sysresetreq
}

$_TARGETNAME configure -event examine-end {
	# Enable debug during low power modes (uses more power)
	# DBGMCU_CR |= DBG_STANDBY | DBG_STOP | DBG_SLEEP
	mmw 0xE0042004 0x00000007 0

	# Stop watchdog counters during halt
	# DBGMCU_APB1_FZ |= DBG_IWDG_STOP | DBG_WWDG_STOP
	mmw 0xE0042008 0x00001800 0
}

$_TARGETNAME configure -event trace-config {
	# Set TRACE_IOEN; TRACE_MODE is set to async; when using sync
	# change this value accordingly to configure trace pins
	# assignment
	mmw 0xE0042004 0x00000020 0
}

$_TARGETNAME configure -event reset-init {
	# Configure PLL to boost clock to HSI x 4 (64 MHz)
	mww 0x40023804 0x08012008	;# RCC_PLLCFGR 16 Mhz /8 (M) * 128 (N) /4(P)
	mww 0x40023C00 0x00000102	;# FLASH_ACR = PRFTBE | 2(Latency)
	mmw 0x40023800 0x01000000 0 ;# RCC_CR |= PLLON
	sleep 10					;# Wait for PLL to lock
	mmw 0x40023808 0x00001000 0 ;# RCC_CFGR |= RCC_CFGR_PPRE1_DIV2
	mmw 0x40023808 0x00000002 0 ;# RCC_CFGR |= RCC_CFGR_SW_PLL

	# Boost JTAG frequency
	adapter_khz 8000
}

$_TARGETNAME configure -event reset-start {
	# Reduce speed since CPU speed will slow down to 16MHz with the reset
	adapter_khz 2000
}

gdb_port disabled
telnet_port disabled
tcl_port disabled

proc program {filename args} {
	# This overrides the startup.tcl's version of program() helper function

	echo "STWTD1A0 Program"
	set exit 0
	set flash_app 0
	set flash_otp 0
	set update_wait_time 5000
	set SRAM_ADDRESS 0x20000000

	foreach arg $args {
		if {[string equal $arg "preverify"]} {
			set preverify 1
		} elseif {[string equal $arg "verify"]} {
			set verify 1
		} elseif {[string equal $arg "reset"]} {
			set reset 1
		} elseif {[string equal $arg "exit"]} {
			set exit 1
		} else {
			set address $arg
		}
	}

	if { [string first "otp" $filename] != -1 } {
		set flash_otp 1
		set update_wait_time 10000
	}
	if { [string first "app" $filename] != -1 } {
		set flash_app 1
		set update_wait_time 5000
	}

	if { $flash_app == $flash_otp } {	# both 0 or both 1...
		echo "ERROR - don't know app or otp to flash."
		return
	}

	# make sure init is called
	if {[catch {init}] != 0} {
		echo "** OpenOCD init failed **" 
        return
	}

	# reset target and call any init scripts
#	set attempt 0
#	set reset_status 0
#	while { 1 } {
#		set reset_status [catch {reset init}]
#		if {$reset_status != 0 && $attempt < 10} {
#			echo "** Unable to reset target, retrying..."
#			incr attempt
#		} else {
#			break
#		}
#	}
#	if {$reset_status != 0} {
#		echo "** Unable to reset target **"
#       return
#	}

	echo "** Programming Started **"
	if { $flash_app == 1 } {
		echo "Flashing APP"
	} elseif { $flash_otp == 1 } {
		echo "Flashing OTP"
	}
	echo "Entering BOOT mode"
	halt
	mww 0x400014f8 0
	mww 0x400014e0 0
	mww 0x40001408 1
	mww 0x40000070 2

	sleep 100

	set mode [expr [mrw 0x40001408]]
    echo "Mode is $mode"
	if { $mode != 1 } {
		echo "ERROR - WRONG BOOT MODE!"
		echo "** Programming Failed **"
		return
	}

	halt
        
	load_image $filename $SRAM_ADDRESS bin
	if { $flash_app == 1 } {
		mww 0x400014e0 1
	}
    mww 0x40001408 1
    mww 0x40000070 2

	echo "Waiting for update"
	sleep $update_wait_time

	halt
	mww 0x400014f8 0
	mww 0x400014e0 0
	
	# TODO:  How do we verify...?

	echo "** Programming Finished **"

	if {[info exists reset]} {
		# reset target if requested
		if {$exit == 1} {
			# also disable target polling, we are shutting down anyway
			poll off
		}
		echo "** Resetting Target **"
		reset run
	}

	if {$exit == 1} {
		shutdown
	}

}
